/* RESET EVERYTHING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FULL SCREEN ROOT */
#root {
  width: 100%;
  height: 100vh;
}

/* BODY */
body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  background: #F5F2E8;
}